/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 11px rgb(35, 100, 86); 
  border: solid 1px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 102, 0); 
  border: solid 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #061d04; 
}
cursor: url('cursor23.cur'), auto;
/*mouse.css*/

